<footer>
  <div id="footer_content" class="container">

      <div id="footer_socialmedia">
          <img src="../../../assets/img/instagram-svgrepo-com.svg" alt="">
          <img src="../../../assets/img/facebook-svgrepo-com.svg" alt="">
          <img src="../../../assets/img/twitter-svgrepo-com.svg" alt="">
          <img src="../../../assets/img/youtube-svgrepo-com.svg" alt="">
      </div>

      <div class="line"></div>

      <div id="footer_information">
          <ul>
              <li>Suport</li>
              <li>Privacy policys</li>
              <li>Service Terms</li>
              <li>Ultra and the environment</li>
          </ul>
          <ul>
              <li>Costumer security</li>
              <li>Health warnings</li>
              <li>Site map</li>
          </ul>
      </div>
  </div>
  <div id="footer_rights" class="container">
      <p>Some rights reserved - 2022</p>
      <button class="logo">Logo</button>
  </div>

</footer>
