<header class="container">
  <button class="logo">Logo</button>

  <div id="menu">

    <div id="menu-items">
      <button class="menu-item">
        <img src="../../../assets/img/down-arrow.svg">
        <p>HR Management</p>
      </button>
      <button class="menu-item-grid menu-item">
        <img src="../../../assets/img/down-arrow.svg">
        <p>Product Management</p>
      </button>
    </div>

    <div id="account-options">
      <button id="login-button"><p>Login</p></button>
      <button>
        <img id="search" src="../../../assets/img/magnifying-glass.svg" alt="search icon">
      </button>
    </div>
  </div>

</header>
