<div class="employee">

  <div class="id-employee">

    <p class="IT-code"><span>IT-Code:</span> {{ employee.idEmployee }}</p>
    <img src="../../../../assets/img/employee-icon.svg">

  </div>

  <div class="decorative-line"></div>

  <p class="name"><span>Name:</span> {{ employee.name }}</p>
  <p class="FTE/C"><span>FTE/C:</span> {{ employee.fte }}</p>
  <p class="Skill"><span>Skill:</span> {{ employee.skill }}</p>

  <div class="acoes">

    <button class="botao-editar">
      <img src="../../../../assets/img/edit-pencil.svg">
    </button>
    <button class="botao-excluir">
      <img src="../../../../assets/img/delete-bin.svg">
    </button>

  </div>

</div>
